@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.leaflet-popup-content {
	padding: 5px !important;
	margin: 10px !important;
}
.leaflet-popup-content p,
a,
h2 {
	margin: 0.2rem !important;
}
