@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.leaflet-popup-content {
	padding: 5px !important;
	margin: 10px !important;
}
.leaflet-popup-content p,
a,
h2 {
	margin: 0.2rem !important;
}

.custom-scrollbar::-webkit-scrollbar {
	height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background-color: rgb(0 0 0 / 0.05);
	width: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: rgb(234 179 8);
}
.leaflet-default-icon-path {
	background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
